body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

@media (min-width:300px) and (max-width:1300px){
  body,html{
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
  }
}
@media  (max-width:700px)  {
  body,html{
    width: 100%;
    overflow-x: none;
  }
}